[submodule "ICRampcontroller"]
	path = ICRampcontroller
	url = https://github.com/1csp3203/ICRampcontroller.git
[submodule "ProbeSwitch"]
	path = ProbeSwitch
	url = https://github.com/1csp2216/ProbeSwitch.git
[submodule "dl350"]
	path = dl350
	url = https://github.com/9008090aa/dl350.git
[submodule "StellarnetSpectrometer"]
	path = StellarnetSpectrometer
	url = https://github.com/1csp2216/StellarnetSpectrometer.git
[submodule "6812B"]
	path = 6812B
	url = https://github.com/9008090aa/6812B.git
[submodule "Keysight34970A"]
	path = Keysight34970A
	url = https://github.com/akared819/Keysight34970A.git
